@font-face {
  font-family: "Jost";
  src: url("~@/assets/fonts/Jost/Jost.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  src: url("~@/assets/fonts/Manrope/Manrope.ttf") format("truetype");
}

@font-face {
  font-family: "MajorMono";
  src: url("~@/assets/fonts/MajorMono/MajorMono.ttf") format("truetype");
}

@font-face {
  font-family: "PoiretOne";
  src: url("~@/assets/fonts/PoiretOne/PoiretOne-Regular.ttf") format("truetype");
}
