@font-face {
  font-family: "Jost";
  src: url("~@/assets/fonts/Jost/Jost.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  src: url("~@/assets/fonts/Manrope/Manrope.ttf") format("truetype");
}
