@import "./fonts.scss";
@import "./mixins.scss";

$white: #f5f5f5;
$banner-size: 50vh;
$content-bar-width: 20%;
$primary-font-size: 5vmin;
$outsideBorder: 5vmin;
$insidePadding: 3vmin;

$viewWidth: calc(100vw - $outsideBorder * 2);
$viewHeight: calc(100vh - $outsideBorder * 2); 
$viewWidthPadded: calc(100% - $insidePadding * 2);
$viewHeightPadded: calc(100vh - $insidePadding * 2 - $outsideBorder * 2);
$lineWidth: max(0.1vw, 2px);

html {

  * {
    cursor: none;
  }

  &.scrolling {
    overflow: hidden;
    touch-action: none;
  }

  background: #f5f5f5;

  ::-webkit-scrollbar {
    display: none;
  }

  * {
    user-select: none;
  }

  a {
    text-decoration: none;
    color: black;
  }

  p {
    margin: 0;
    font-size: 20px;
  }

  h1 {
    font-family: "MajorMono";
    font-size: 40px;
    white-space: nowrap;
    margin: 0;
    max-height: 40px;
  }

  .primary-font, .secondary-font {
    font-family: "MajorMono";
    max-height: unset;
    overflow: hidden;

  }

  .primary-font {
    height: 3.7vmin;
    font-size: $primary-font-size;
    line-height: 3.16vmin;
  }

  .secondary-font {
    height: calc(3.7vmin / 2);
    font-size: calc($primary-font-size / 2);
    line-height: calc(3.16vmin / 2);
  }

  :focus-visible {
    outline: 0;
  }
}

body {
  position: absolute;
  inset: $outsideBorder;
  outline: $lineWidth solid;
  margin: 0;
  scroll-snap-type: y mandatory;
  background: $white;

  #app { 
    width: calc(100% - 2 * $insidePadding);
    height: calc(100% - 2 * $insidePadding);
    padding: $insidePadding;
    position: absolute;

    scroll-snap-type: y mandatory;
    overflow: auto;
    font-family: "PoiretOne";

    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 20px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
