@import "./fonts.scss";
@import "./mixins.scss";

$white: #f5f5f5;
$banner-size: 50vh;
$content-bar-width: 20%;

html {

  * {
    cursor: none;
  }

  &.scrolling {
    overflow: hidden;
    touch-action: none;
  }

  background: #f5f5f5;

  ::-webkit-scrollbar {
    display: none;
  }

  * {
    user-select: none;
  }

  a {
    text-decoration: none;
    color: black;
  }

  p {
    margin: 0;
    font-size: 20px;
  }

  h1 {
    font-family: "MajorMono";
    font-size: 40px;
    white-space: nowrap;
    margin: 0;
    max-height: 40px;
  }

  :focus-visible {
    outline: 0;
  }
}

body {
  position: absolute;
  inset: 30px;
  outline: 2px solid;
  margin: 0;
  scroll-snap-type: y mandatory;
  background: $white;


  #app { 
    width: calc(100vw - 80px);
    height: calc(100vh - 80px);
    padding: 10px;

    scroll-snap-type: y mandatory;
    overflow: auto;
    font-family: "PoiretOne";

    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 20px;

    display: flex;
    flex-direction: column;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
